body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../media/Schermafbeelding 2019-12-19 om 14.31.58.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow: scroll;
    --webkit-user-select: none;
}

html {
    height: 100%;
}

/* begin index.html */

.search {
    text-align: center;
    margin-top: 0;
    width:20em;
    height:2.9em;
    background-color: white;
    border-radius: 5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
    align-content: center;
    opacity: 85%;
    border: 0.1em solid darkgray;
}

.searchfield {
    width:85%;
    height:70%;
    border-radius: 5em;
    border: none;
    opacity: 85%;
    text-align: center;
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1em;
}

.searchbutton{
    width: 5em;
    padding:0;
    margin:0;
}

.searchicon {
    height: 100%;
    width: 100%;
    float:right;
}

button:hover {
    opacity: 60%;
    
}

.headericon {
    height: 1.6em;
    width: 1.6em;
    margin-left: 0.5em;
    margin-top: 0.3em;
    
}

header {
    height: 2.5em;
}

.wifisection {
    height: 10em;
    
}

.wifi1 {
    float: right;
    margin: 9em 3em;
}

.wifi2 {
    float: left;
    margin-top: 10em;
    margin-left: 3em;
}

.wifi3 {
    float:left;
    margin-top: 8em;
    margin-left: 10em;
}

.wifi-icon {
    height: 3em;
    width:3em;
}

.toplist {
    background-color: white;
    border: 0.1em solid darkgray;
    border-radius: 5em;
    padding: 0.5em 2.5em;
    text-decoration: none;
    color: black;
}

footer {
    bottom: 2em;
    position: absolute;
    width: 100vw;
    text-align: center;
}

/* einde index.html */

/* begin info.html */

.background2 {
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    
}

.backbutton-area {
    grid-area: backbutton;
}

.backbutton {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 0.3em;
    font-size: 1.5em;
}

.backbutton:active
{
    color: lightgray;
}

h1 {
    color: white;
    text-shadow: -0.07em 0 red;
    margin: 0;
    font-size: 3.3em;
    padding-top: 0.3em;
    letter-spacing: 0.07em;
}

.headertext {
    color: white;
}

.infoheader {
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0 100%);
    min-width: 100%;
    height: 10em;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
        "backbutton image"
        "title image";
    position: fixed;
}

.infomain {
    top: 9.1em;
    position: relative;
}

.star1 {
    width: 1.5em;
    height: 1.5em;
    padding-top: 2.3em;
    padding-left:0.5em;
}

.headertextsection-title {
    display: flex;
    flex-direction: row;
}

p {
    margin-top: -0.5em;
    margin-bottom: 0.2em; 
    font-size: 1.3em;
}

.headertextsection {
    grid-area: title;
    margin-left: 1.9em;
    margin-top: -4em;
}

.kfcimg {
    grid-area: image;
    height: 6em;
    width: 7em;
    float: right;
    margin-left: 4em;
    margin-top: 0.7em;
}

.stars {
    width: 1.8em;
    height: 1.8em;
    flex-direction: row;
    margin: auto 0.2em;
    margin-top: 0.1em;
}

.stars-group1 {
    margin-left: 5em;
}

.stars-group2 {
    margin-left: 5.1em;
}

.stars-group3 {
    margin-left: 4.4em;
}

.rating-segment {
    display: flex;
    margin: 0.9em; 
}

.ratingtext {
    margin: 0 0;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.ratebutton-container
{
    text-align: right;
    padding: 0em 0 0 0;
}

.ratebutton {
    background-color: white;
    opacity: 90%;
    border-radius: 5em;
    padding: 0.1em 1.2em;
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    margin-right: 1.5em;
}

.info-container {
    grid-template-areas: "website route openingstijden";
    grid-template-columns: 3fr 4fr 1fr;
    background-color: white;
    border-radius: 1em;
    height: 6.5em;
    width: 80%;
    display: grid;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    padding: 0 1.5em;
}

.website {
    grid-area: website;
    margin: auto;
}

.route {
    grid-area: route;
    margin: auto;
}

.route a, .website a {
    color: black;
    text-decoration: none;
}

.openingstijden {
    grid-area: openingstijden;
    margin: auto;
    margin-left: 0;
}

.info-image {
    height: 2em;
    width: 2em;
    margin-bottom: 0.5em;
}

.openingstijden-image {
    height: 6em;
    width: 6em;
}

.info-container2 {
    background-color: white;
    border-radius: 1em;
    height: 13em;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
}

.textdiv {
    border-style: solid;
    width: 98%;
    margin: 0.5em auto 0.5em auto;
    max-height: 3em;
    border-width: 0.06em;
}

.textdiv form input {
    border-style: solid;
    margin: 0.4em 0 0.4em 0.34em;
    height: 2.5em;
    width: 23.5em;
    border-width: 0.06em;
}

.textdiv form button {
    float: right;
    margin: 0.4em -0.5em 0 0;
    padding: 0;
    max-width: 6em;
}

.sendimg {
    width: 50%;
    height:70%;
}

.commentdiv {
    border-style: solid;
    border-width: 0.06em;
    height: 8em;
}

.commentdiv p {
    margin-top: 1.4em;
    font-size: 0.9em;
}

.compare-footer {
    background-color: black;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0 100%);
    bottom: 0;
    width: 100vw;
    height: 4em;
    position: fixed;
}

.footer-txt {
    color:white;
    text-shadow: -0.07em 0 red;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 1.4em;
    display: block;
}

/* Einde info.html */

/* Hier begint login.html */

.login-header {
    background-color: black;
    min-width: 100%;
    height: 17em;
    clip-path: polygon(0% 0%, 100% 0%, 100% 68%, 0 100%);
}


.login-header h1 {
    letter-spacing: 0.65em;
    margin-left: 0.3em;
    font-size: 4em;
}

.slogan {
    color:white;
    transform: rotate(-12.5deg);
    margin: -2.3em 0 0 0.5em;
    font-size: 1.2em;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width:100%;
    margin-top: 5.5em;
}

.login-form input {
    padding: 0.7em;
    margin: 0.2em auto 0.2em auto;
    text-align: center;
    min-width: 13em;
    font-size: 1.1em;
    letter-spacing: 0.08em;

}

.login-form a {
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 4.6em;
}

.login-form button {
    background-color: rgba(0,0,0,0.5);
    padding: 0.6em;
    color: white;
    border-style: none;
    width: 10em;
    margin: 2em auto 0 auto;
    font-size: 1em;
    letter-spacing: 0.06em;
}

.login-footer {
    bottom: 0em;
    position:absolute;
}

.signup-link {
    letter-spacing: 0.06em;
    font-size: 1.1em;
    color: black;
}

/* eind login.html */

/* begin top10.html */

.top10-body {
    background-image: none;
    background-color: gainsboro;
}

.Mcd-img {
    width: 8em;
    height: 6em;
    margin: 0.5em;
    margin-left: 1.5em; 
}

.KFC-img {
    width: 8em;
    height: 6em;
    margin: 0.5em;
    margin-left: 1.5em;
}

.starbucks-img {
    width: 8em;
    height: 6em;
    margin: 0.5em;
    margin-left: 1.5em;
}

.top10-header {
    background-color: black;
    display: flex;
    height: 6.5em;
    position: fixed;
    min-width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0 100%);
    z-index: 1;
}

.top10-header h1 {
    font-size: 1.3em;
    margin: 1em 0 0 2.5em;
}

.top10-main {
    display: flex;
    flex-direction: column;
    top: 6em;
    position: relative;
    z-index: 0;
    
}

.top10-main section {
    display: flex;
    border-bottom: solid 0.05em;
}

.top10-main a section h1 {
    max-width: 30%;
    margin: 0 0 0.5em 0.3em;
}

.top10-main a section p {
    max-width: 30%;
    margin: 0.5em;
    margin-left: 2.3em;
    font-size: 1em;
    padding-top: 0.5em;
}

.top10-main a {
    text-decoration: none;
    color: black;
}

.first-word {
    font-size: 1.6em;
}

.nmr10 {
    font-size: 3em;
}

/* Hier heb ik important gebruikt, omdat .top10-main a section p specifieker is volgens css en het mij niet lukte om dat te overwriten */
.text10 {
    margin: 0.6em!important;
}